body {
  margin: 0 !important;
  padding: 0 !important;
}

.scroll-element {
  width: 100%;
  position: relative;
  font-size: 20px;
  color: black;
}

.scroll-element-1 {
  height: 100vh;
  background-color: #007FFF;
}

.scroll-element-2 {
  height: 100vh;
  background-color: #32de84;
}

.scroll-element-3 {
  height: 200vh;
  background: linear-gradient(0deg, rgba(34,195,42,1) 0%, rgba(45,67,253,1) 100%);;
}

.scroll-element-4 {
  height: 100vh;
  background: linear-gradient(0deg, #EF0107 0%, rgba(253,187,45,1) 100%);
}

.button-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: white;
  border-top: 1px solid gray;
  padding: 10px;
}

label {
  color: black;
}

.form-check-input {
  border: 1px solid grey;
}
